<div class="jumbotron">
  <h3>Hasura <span class="glyphicon glyphicon-heart"></span> AngularJS<h3>
  <p class="lead">
    Hasura Backend APIs ready to use with AngularJS    
  </p>
</div>

<div class="row marketing">
  <h4>Authentication APIs</h4>
  <p>With Email and OTP verification</p>
  <p>
    <a ng-href="/#!/register"><button class="btn btn-info">Register</button></a> 
    <a ng-href="/#!/login"><button class="btn btn-success">Login</button></a> 
    <button ng-click="main.doLogout()" class="btn btn-danger">Logout</button>
    <a href="https://docs.hasura.io/0.13/ref/hasura-microservices/auth/api.html" target="_blank">and much more</a>
  </p>

  <h4>Data APIs</h4>
  <p>
    <a ng-href="/#!/query"><button class="btn btn-primary">Query</button></a> 
  </p>

  <h4>File APIs</h4>
  <p>
    <a ng-href="/#!/filestore"><button class="btn btn-warning">Filestore</button></a> 
  </p>

</div>
